@use "./variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-body;
  background: var(--color-pure-white);
  color: var(--color-charcoal);
  font-size: 16px;
  line-height: 1.6;
}

.container {
  width: min(var(--layout-max-width), 100%);
  margin: 0 auto;
  padding: 0 20px;
}

h1,
h2,
h3,
.heading {
  font-family: $font-heading;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--color-primary-black);
  margin: 0;
}

p,
a,
li,
button {
  font-family: $font-body;
  color: var(--color-charcoal);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
  cursor: pointer;
  border: none;
  background: none;
}
